* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f1f1f1;
}

header {
	display: flex;
	justify-content: center;
}

nav {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 9999;
}

nav ul {
	margin-top: 13px;
	padding: 0 10px;
	display: flex;
	list-style-type: none;
	border-radius: 50px;
	backdrop-filter: blur(10px);
	/* testing */
	background: rgba(255, 255, 255, 0.4); /* Putih transparan */
	border: 1px solid rgba(255, 255, 255, 0.6); /* Border lebih terang */
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1); /* Shadow untuk kedalaman */
}

nav li {
	padding: 10px 15px;
	margin: 15px 20px;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.2s ease;
}

nav li:hover {
	transform: translateY(-5px);
	box-shadow: 0 15px 40px rgba(103, 134, 154, 0.37);
}

nav li a {
	text-decoration: none;
	color: black;
}

section {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-section {
	/* border: 1px solid black; */
	width: 90%;
	height: 90vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(231, 224, 216, 0.2);
	/* backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px); */
	border-radius: 50px;
	backdrop-filter: blur(10px);
	box-shadow: 0 8px 32px 0 rgba(103, 134, 154, 0.37);
}

.section-paragraph h1 {
	font-size: 5rem;
}

.section-paragraph h3 {
	font-size: 2rem;
	margin-bottom: 20px;
}

.container-section img {
	height: 300px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
	/* backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px); */
	border-radius: 50%;
	box-shadow: 0 8px 32px 0 rgba(103, 134, 154, 0.37);
}

main {
	width: 100%;
	height: 100vh;
	background-color: #67869a;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-container {
	width: 90%;
	height: 90vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* border: 1px solid black; */
	border-radius: 50px;
	/* backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px); */
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.main-paragraph {
	width: 60%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* border: 1px solid black; */
}

.main-paragraph h1 {
	font-size: 5rem;
}

.main-container img {
	height: 300px;
	/* border: 1px solid black; */
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 50%;
	backdrop-filter: blur(10px);
	box-shadow: 0 8px 32px 0 rgba(103, 134, 154, 0.37);
}
