* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D7F2FE;
    font-size: 16px;
    /* font-family: inter; */
}

.navbar-container {
    background-color: #E3F5FF;
    display: flex;
    height: 115px;
    width: 100%;
    position: fixed;
    padding: 38px ;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
    box-shadow: 0 1px 10px rgb(0, 0, 0.25);
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-logo-logo {
    width: 40px;
    height: 40px;
    background-color: #0B2632;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar-logo-logo p {
    font-size: 32px;
    color: #FAFDFF;
}

.navbar-logo-name {
    display: inline-block;
    color: #0B2632;
    font-size: 21.33px;
    font-weight: bold;
    border-top: 2px solid #0B2632;
    border-bottom: 2px solid #0B2632;
    padding-top: 1px;
    padding-bottom: 1px;
}

.navbar-items {
    width: 435px;
    height: 35px;
    display: flex;
    align-items: center;
}

.navbar-items ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-items ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #003A5A;
}

ul .home {
    background-color: #0B2632;
    width: 100px;
    height: 35px;
    border-radius: 50px;
    text-align: center;
    line-height: 35px;
}

ul .home a {
    color: #FAFDFF;
    border-bottom: 1.5px solid #FAFDFF;
}